@page "/images"
@using System.Text.RegularExpressions;
@using HtmlAgilityPack
@using WebScraper.Data
@using WebScraper.Data.Plugins
@using System.Net

@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@inject TraverseService Traverse
@inject HealthCheck Health
@inject SeoAnalyzer Analyzer

<ul class="navbar mr-auto navbar-dark bg-dark justify-content-center" style="margin-top: 30px; border-radius: 20px;">
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="analysis" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Home
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="graphs" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Graphs
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="links" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Link health
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="routes" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Child routes
        </NavLink>
    </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="titles" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Titles
        </NavLink>
    </li>
        <li class="nav-item" style="list-style-type: none;">
            <NavLink class="nav-link" href="descriptions" Match="NavLinkMatch.All" style="color: white;">
                <span class="oi oi-bar-chart" style="color: white;"></span> Descriptions
            </NavLink>
        </li>
    <li class="nav-item" style="list-style-type: none;">
        <NavLink class="nav-link" href="images" Match="NavLinkMatch.All" style="color: white;">
            <span class="oi oi-bar-chart" style="color: white;"></span> Images
        </NavLink>
    </li>
</ul>

<div class="row col-12">
    <div class="col-sm-8">
        <div class="card arrow_box_right">
            <div class="card-body">
                @if (MissingAlt)
                {
                    <div id="table-wrapper">
                        <div id="table-scroll">
                            <table>
                                <thead>
                                <tr>
                                    <th>
                                        <span class="text">Img</span>
                                    </th>
                                    <th>
                                        <span class="text">Url</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (KeyValuePair<string, string> pair in Analyzer.ImgsWithNoAlt)
                                {
                                    <tr>
                                        <td>@pair.Key</td>
                                        <td>@pair.Value</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    @if (Analyzer.ImgsWithNoAlt.Count != 0)
                    {
                        <p>Finding images without alt text and introducing it will improve not only your SEO visibility but also the usability of the page in certain circumstances.</p>
                        <p>Press View to find out more about your image alt text.</p>
                        <button @onclick="@LoadMissingAlt" class="btn btn-dark">View</button>
                    }
                    else
                    {
                        <p>All your images have alt text per recommendation!</p>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header" style="background: #343A40; color: white;">ALT TEXT</div>
            <div class="card-body">
                <p class="card-text" style="text-align: center;">On your page we have found</p>
                <p style="font-size: 72px; text-align: center;">@Analyzer.ImgsWithNoAlt.Count</p>
                <p class="card-text" style="text-align: center;">instances of missing alt text.</p>
            </div>
        </div>
    </div>
</div>

@code{
    private bool MissingAlt { get; set; } = false;
    public void LoadMissingAlt()
    {
        MissingAlt = !MissingAlt;
    }
}

<style>
    .arrow_box_left {
        position: relative;
        background: #ffffff;
    }
    .arrow_box_left:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #ffffff;
        border-width: 30px;
        margin-top: -30px;
    }
    .arrow_box_right {
    	position: relative;
    	background: #ffffff;
    }
    .arrow_box_right:after {
    	left: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(255, 255, 255, 0);
    	border-left-color: #ffffff;
    	border-width: 30px;
    	margin-top: -30px;
    }
    .card{
        margin: 40px;
    }
    #table-wrapper {
      position:relative;
    }
    #table-scroll {
      height:260px;
      overflow:auto;  
      margin-top:20px;
    }
    #table-wrapper table {
      width:90%;
    }
    #table-wrapper table * {
      background:white;
      color:black;
    }
    #table-wrapper table thead th .text {
      position:absolute;   
      top:-20px;
      z-index:2;
      height:20px;
    }
</style>