@page "/"

<div class="container" style="width: 70%;">
    <h1 class="text-center" style="margin-bottom: 40px;">Web Scraper</h1>

    <form>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="url-addon">URL</span>
            </div>

            <input type="text" class="form-control" id="url_link"/>
            <span class="input-group-btn ml-2">
                <button class="btn btn-outline-primary" type="button">Go!</button>
            </span>
        </div>

        <div class="form-check form-check-inline mt-2">
            <label for="show_html" class="form-check-label mr-2">Show HTML </label>
            <input type="checkbox" class="form-check-input pull-right" id="show_html" checked="checked" style="width: 15px; height: 15px;"/>
        
            <label for="follow_through" class="form-check-label mr-2">Follow through </label>
            <input type="checkbox" class="form-check-input pull-right" id="follow_through" checked="checked" style="width: 15px; height: 15px;"/>

        </div>
    </form>
    
    <h3 class="text-center mt-4">Preview</h3>
    <p style="height: 300px; background-color: white; border: 1px solid black; padding: 10px;">
        Content Content Content Content Content Content Content Content Content Content Content Content
        Content Content Content Content Content Content Content Content Content Content Content Content
        Content Content Content Content Content Content Content Content Content Content Content Content
    </p>

    <div class="btn-group">
        <button class="btn btn-primary mr-2">IMG</button>
        <button class="btn btn-primary mr-2">TEXT</button>
        <button class="btn btn-primary">LINKS</button>
    </div>
    
    <h3 class="text-center mt-4">Result</h3>
    <p style="height: 300px; background-color: white; border: 1px solid black; padding: 10px; margin-bottom: 60px;">
        Result Result Result Result Result Result Result Result Result Result Result Result Result Result
        Result Result Result Result Result Result Result Result Result Result Result Result Result Result
        Result Result Result Result Result Result Result Result Result Result Result Result Result Result
    </p>
</div>