@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<!--<div class="sidebar">
    <NavMenu />
</div>-->
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="oi oi-thumb-up"
                ErrorIconClass="oi oi-warning" />

<div class="main">
    <div class="top-row px-4">
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        <NavMenu />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
