@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="oi oi-thumb-up"
                ErrorIconClass="oi oi-warning" />

<div class="main">
    <NavMenu />
    <div class="content px-4">
        @Body
    </div>
</div>
