@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="oi oi-thumb-up"
                ErrorIconClass="oi oi-warning" />

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<div class="main">
    <NavMenu/>
    <div id="wrapper">
        <div id="container-body" class="container-fluid" style="height: 95vh;">
            @Body
        </div>
    </div>
    <Footer/>
</div>
