@using WebScraper.Data.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TJMNoo</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                            <span class="oi oi-person"></span> Profile
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink @onclick="@Logout" class="nav-link" href="login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout"></span> Logout
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                <li class="nav-item active">
                    <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item active">
                    <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">
                        <span class="oi oi-check" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="pointclick" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> P & C
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="seo" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> SEO
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="scrape" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Scrape
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                            <span class="oi oi-person"></span> Profile
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink @onclick="@Logout" class="nav-link" href="login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout"></span> Logout
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login"></span> Login
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">
                            <span class="oi oi-people"></span> Register
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>-->
</nav>

@code{

    public void Logout()
    {
        ((CustomAuthenticationStateProvider) AuthenticationStateProvider).MarkUserAsLoggedOut();
    }

}