@using WebScraper.Data.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TJMNoo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-beaker" aria-hidden="true"></span> SEO Analyzer
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="keywordtracker" Match="NavLinkMatch.All">
                    <span class="oi oi-browser"></span> Google Keyword Tracker
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="mydata" Match="NavLinkMatch.All">
                            <span class="oi oi-graph"></span> My data
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink @onclick="@Logout" class="nav-link" href="login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout"></span> Logout
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Register
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code{

    public void Logout()
    {
        ((CustomAuthenticationStateProvider) AuthenticationStateProvider).MarkUserAsLoggedOut();
    }

}